{% load static %}
<!-- templates/base.html -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% include 'parts/navbar_top.html' %}
  {% include 'parts/navbar_bottom.html' %}

{%block content%}
{% endblock content %}
{% include 'parts/footer.html' %}





