<!-- navbar_top.html -->
{% load static %}
<!-- navbar_top.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fw-bold ms-2" href="{% url 'gestion_bn' %}">
        <img src="{% static 'image/logo.png' %}" alt="Logo" height="50">
         Tahssine-Settat
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  d-lg-none">
                <a class="nav-link" href="{% url 'gestion_bn' %}">Gestion des bénéficiaires</a>
            </li>
            <li class="nav-item   d-lg-none">
                <a class="nav-link" href="{% url 'search' %}">Recherche des bénéficiaire</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    Profil
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'change_password' %}">Mot de passe</a>
                    <a class="dropdown-item" href="{% url 'login' %}">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
